extend ../layout

block content
  div.content.container
    div.row
      div.text-center.col.align-self-center
        div.simple-form-container.card.jumbotron.text-center
          h4 
            | ログアウトしました！
          p
            a(href="/signin") ログインページへ