extend ../layout

block content
  div.content.container
    div.row
      div.text-center.col.align-self-center
        div.card.jumbotron(style="max-width:400px;")
          h4 
            | 全端末サインアウト
          form.simple-form
              
            div#error-message.alert.alert-warning(style="display:none")
            
            div.form-group
              button#signout-global-button.btn.btn-success(type="submit")
                | Continue&rarr;
                
  script(type="text/javascript").
  
    // -----------------------------
    // init cognito client
    // -----------------------------
    var cognitoClient = new CognitoClient();
    var redirecter = new CognitoClientRedirecter($("#error-message"));
    
    redirecter.urlParamExceptionRender();// urlパラメータにexception,exception_messageがあれは描画
    
    $.LoadingOverlay("show");
    
    cognitoClient.init()
    .then(function(result){
    
      $.LoadingOverlay("hide");
    
      // -----------------------------    
      // is already signed in
      // -----------------------------
      cognitoClient.isSignedIn()
      .then(function(result){
        if(result === false){
          window.location.href = "/signin";
        }
      });
        
      // -----------------------------
      // sign in
      // -----------------------------
      $("form").submit(function(e) {
      
        $.LoadingOverlay("show");
        
        cognitoClient.globalSignOut()
        .then(function(result){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.SignOutGlobal,null);
          return false;
          
        },function(err){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.SignOutGlobal,err);
          return false;
          
        });
        
        return false;
        
      });
      
    });
                  
    