extend ../layout

block content
  div.content.container
    div.row
      div.text-center.col.align-self-center
        div.card.jumbotron.text-center(style="max-width:400px;")
          h4 
            | 認証コードを確認してください
          form.simple-form.text-left
            div.form-group
              label(for="username")
              input.form-control(id="username" name="username" type="text" placeholder="" readonly style="display:block;")
              
            div.form-group
              label(for="code")
              input.form-control(id="code" name="code" type="text" placeholder="確認コード" style="display:block;")
              
            div#error-message.alert.alert-warning(style="display:none")
            
            div.form-group
              button.btn.btn-primary(type="submit" disabled="disabled")
               | Continue&rarr;
                
            div.form-group
              button#resend-button.btn.btn-link(type="button" style="font-size:0.8em")
                |  認証コードを再送信
            
  script(type="text/javascript").
  
    // サインアップ用usernameを復元
    $("input#username").val(localStorage.getItem("signup_username"));
    
    // -----------------------------
    // form
    // -----------------------------
    var $form = $("form.simple-form");
  
    // -----------------------------
    // validation
    // -----------------------------
    var customValidator = new CustomValidator($form);
    
    $form.on("input", function(e) {
        // switch submit button disabled
        $form.find(':submit').attr('disabled', !(customValidator.isInputAll() && customValidator.valid()));
    });

    // -----------------------------
    // redirecter
    // -----------------------------
    var redirecter = new CognitoClientRedirecter($("#error-message"));
    redirecter.urlParamExceptionRender();// urlパラメータにexception,exception_messageがあれは描画

    // -----------------------------
    // cognito client
    // -----------------------------
    var cognitoClient = new CognitoClient();
    
    $.LoadingOverlay("show");
    
    // init cognito client
    cognitoClient.init() 
    .then(function(result){
    
      $.LoadingOverlay("hide");
    
      // -----------------------------    
      // is already signed in
      // -----------------------------
      cognitoClient.isSignedIn()
      .then(function(result){
        if(result === true){
          window.location.href = "/signout";
        }
      });
    
      // -----------------------------
      // form submit
      // -----------------------------
      $form.submit(function(e) {
      
        $.LoadingOverlay("show");
      
        var code = $("input#code").val();
        var username = $("input#username").val();
      
        // -----------------------------
        // confirmRegistration
        // -----------------------------
        cognitoClient.confirmRegistration(username,code)
        .then(function(result){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.SignUpConfirm,null);
          
        },function(err){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.SignUpConfirm,err);
          
        });
        
        return false;
        
      });
        
      // -----------------------------
      // cognito client resendConfirmationCode
      // -----------------------------
      $("button#resend-button").on("click", function() {
      
        $.LoadingOverlay("show");
      
        var username = $("input#username").val();
            
        // -----------------------------
        // resendConfirmationCode
        // -----------------------------
        cognitoClient.resendConfirmationCode(username)
        .then(function(result){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.ResendConfirmationCode,null);
          
        },function(err){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.ResendConfirmationCode,err);
          
        });
        
        return false
        
      });
      
    });
    
    
    