extend ../layout

block content
  div.content.container
    div.row
      div.text-center.col.align-self-center
        div.card.jumbotron.text-center(style="max-width:400px;")
          h4 
            | 新規登録
          form.simple-form.text-left

            div.form-group
              label(for="nickname")
              input.form-control(id="nickname" name="nickname" type="text" placeholder="ニックネーム" style="display:block;")
                
            div.form-group
              label(for="username")
              input.form-control(id="username" name="username" type="email" placeholder="メールアドレス"  style="display:block;") 
                
            div.form-group
              label(for="password")
              input.form-control(id="password" name="password" type="password" placeholder="パスワード" style="display:block;")
                
            div#error-message.alert.alert-warning(style="display:none")
            
            div.form-group
              button.btn.btn-primary(type="submit" disabled="disabled")
                | Continue&rarr;
                
          p.befound
            | アカウントを作成すると、利用規約、およびCookieの使用を含むプライバシーポリシーに同意したことになります。
          p
            | 既に登録済みですか？
            br
            a(href="/signin") ログイン
            
  script(type="text/javascript").
  
    // -----------------------------
    // form
    // -----------------------------
    var $form = $("form.simple-form");
  
    // -----------------------------
    // validation
    // -----------------------------
    var customValidator = new CustomValidator($form);
    
    $form.on("input", function(e) {
        // switch submit button disabled
        $form.find(':submit').attr('disabled', !(customValidator.isInputAll() && customValidator.valid()));
    });

    // -----------------------------
    // redirecter
    // -----------------------------
    var redirecter = new CognitoClientRedirecter($("#error-message"));
    redirecter.urlParamExceptionRender();// urlパラメータにexception,exception_messageがあれは描画

    // -----------------------------
    // cognito client
    // -----------------------------
    var cognitoClient = new CognitoClient();
    
    $.LoadingOverlay("show");
    
    // init cognito client
    cognitoClient.init() 
    .then(function(result){
    
      $.LoadingOverlay("hide");
    
      // -----------------------------    
      // is already signed in
      // -----------------------------
      cognitoClient.isSignedIn()
      .then(function(result){
        if(result === true){
          window.location.href = "/signout";
        }
      });
      
      // -----------------------------
      // form submit
      // -----------------------------
      $form.submit(function(e) {
      
        $.LoadingOverlay("show");
        
        var nickname = $("input#nickname").val();
        var username = $("input#username").val();
        var password = $("input#password").val();
        var attributes = null;
        
        // サインアップ用usernameを保存
        localStorage.setItem("signup_username",username);
        
        // -----------------------------
        // signup
        // -----------------------------
        cognitoClient.signup(nickname,username,password,attributes)
        .then(function(result){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.SignUp,null);
          
        },function(err){
        
          $.LoadingOverlay("hide");
          redirecter.redirect(redirecter.config.SignUp,err);
          
        });
        
        return false;
        
      });
    
    });
     
    
    